<mat-toolbar color="primary" class="app-header">
  <mat-toolbar-row>
    <span class="hiberus">Hiberus Test</span>
    <a mat-button *ngIf="!isAuth()" routerLink="login" routerLinkActive="active">Ingresar</a>
    <a mat-button *ngIf="!isAuth()" routerLink="register" routerLinkActive="active">Registrar</a>

    <a mat-button class="rightAligment " *ngIf="isAuth()" (click)="logOut()" routerLinkActive="active"
      >Cerrar sesion
      <i class="material-icons">
        cancel
      </i></a
    >
  </mat-toolbar-row>
</mat-toolbar>
