<body>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>

      <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
        <mat-card-content>
          <mat-form-field class=" form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <input
              matInput
              placeholder="Usuario"
              class="form-control"
              name="username"
              [(ngModel)]="loginData.username"
              #username="ngModel"
              required
            />
          </mat-form-field>

          <mat-form-field class=" form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input
              matInput
              placeholder="Contraseña"
              class="form-control"
              name="password"
              [(ngModel)]="loginData.password"
              #password="ngModel"
              required
            />
          </mat-form-field>
        </mat-card-content>
        <div *ngIf="error" type="danger">{{ error }}</div>
        <div class="form-group">
          <button mat-stroked-button color="accent" class="btn-block">Ingresar</button>
        </div>
      </form>
    </mat-card>
  </div>
</body>
