html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://www.hiberus.com/sites/default/files/2019-10/22._hiberus_tecnologia.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}